<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Source_Domain" value="companya" />
    <add key="Source_FQDN" value="companya.com" />
    <add key="Source_UserName" value="administrator" />
    <add key="Source_Password" value="TJCtsb/HAyRg5yvznJ1r8g==" />

    <add key="Target_Domain" value="companyb" />
    <add key="Target_FQDN" value="companyb.com" />
    <add key="Target_UserName" value="administrator" />
    <add key="Target_Password" value="TJCtsb/HAyRg5yvznJ1r8g==" />
    <add key="Target_DomainDN" value="DC=companyb,DC=com" />

    <add key="Administrator_Domain" value="companya" />
    <add key="Administrator_UserName" value="administrator" />
    <add key="Administrator_Password" value="TJCtsb/HAyRg5yvznJ1r8g==" />
  
  </appSettings>
</configuration>
